/*colors*/
$warning:#fd900a;
$primary: #6668d3;
$secondary:#4caf50;
$info:#708bd6;
$danger:#ff5252;
$dark:#363333;
$light:#f4f7f7;
$white:#fff;
$btnhover:#b9b3b3;
$backdrop:  rgba(36, 36, 36, 0.3);

/*margins shadows, ...*/
$maxmargin:20;
$maxpadding:20;
$colums:12;
$nthorder:5;
$shadow3:0 0 15px 0 rgba(86, 83, 138, 0.6);
$shadow2:0 0 10px 0 rgba(49, 49, 49, 0.6);
$shadow1:0 0 5px 0 rgba(32, 32, 32, 0.6);
$shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(121, 118, 118, 0.24);
$shadow-default:0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$gray:#dbdada;
$lightgray:#eeeeee;
$darkborder:#333030;
$checkprimary:#8aa9d6;
$checksecondary:#6ce79b;
$transition: all .5s ease;
$r5:5px;

